body {
    background-color: rgb(255, 255, 255);
}

titulo {
    color: #000000;
    text-align: center font-family:verdana;
}

#paragrafo {
    font-family: verdana: font: size 50px;px;
    color: #FFFBF4;
    text-align: center
}


section {
    background: linear-gradient(135deg, #76629c, #6f3d8b, #77288f);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 40px;
    backdrop-filter: blur(5px);
}


  #fonte2 {
    font-family: verdana: font: size 50px;px;
    color: #FFFBF4;
    text-align: center
}
